<h1 mat-dialog-title>Jemand denkt gewonnen zu haben! <mat-icon style="float:right;">error_outline</mat-icon></h1>
<div mat-dialog-content>
  <b>{{this.data.initiatorName}}</b> denkt, ihren/seinen Namen erraten zu haben. Was denkst du?
  <br />
  <ul>
    <li>
      <mat-label><b>Geratener Name:</b> {{this.data.challengeName}}</mat-label>
    </li>
    <li>
      <mat-label><b>Tatsächlicher Name:</b> {{this.data.actualName}}</mat-label>
    </li>
  </ul>
</div>
<div class="buttons" mat-dialog-actions>
  <!-- Vote if the guess is right/wrong (true/false) -->
  <button mat-button [mat-dialog-close]="true">✔️</button>
  <button mat-button [mat-dialog-close]="false">❌</button> 
</div>