<mat-card [ngStyle]="{'background-color': this.player.isActive ? '#fafa' : '#fff' }">
    <mat-card-title>{{ player.target }}</mat-card-title>
    <mat-card-subtitle>{{ player.name }}</mat-card-subtitle>
    <mat-card-content>
        <div *ngIf="this.player.pid === this.service.getOwnPid()">
            <button (click)="this.answerCorrect()">✔️</button>
            <button (click)="this.answerWrong()">❌</button>
            <button>Gewonnen</button>

            <button (click)="this.logMe()">Log Current Player</button>
        </div>
    </mat-card-content>
</mat-card>