<mat-card [ngStyle]="{'background-color': this.player.isActive ? '#fafa' : '#fff' }">
    <mat-card-title>{{ player.target }}</mat-card-title>
    <mat-card-subtitle>{{ player.name }}</mat-card-subtitle>
    <mat-card-content>
        <div *ngIf="this.player.pid === this.service.getOwnPid()">
            <button mat-button (click)="this.answerCorrect()">✔️</button>
            <button mat-button (click)="this.answerWrong()">❌</button>
            <br />
            <button mat-raised-button color="primary" (click)="this.challengeWin()">Ich bin...</button>
        </div>
    </mat-card-content>
</mat-card>