.vote-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.vote-container mat-card {
    text-align: center;
}

.vote-container mat-card a {
    font-size: larger;
}

.yes-votes {
    margin-right: 5px;
    width: 45%;
}

.no-votes {
    margin-left: 5px;
    width: 45%;
}

.pulse {
    background-color: #fff;
    animation-name: color;
    animation-duration: 1s;
    animation-iteration-count: 2;
  }
  
  @keyframes color {
    0% {
      background-color: #fff;
    }
    50% {
      background-color: #fafa;
    }
    100% {
      background-color: #fff;
    }
  }
