<h1 mat-dialog-title>Namensvorschlag abgeben <mat-icon style="float:right;">note_add</mat-icon></h1>
<div mat-dialog-content>
  Schlag einen Namen vor der dann unter allen Spielern zufällig verlost wird!
  <mat-form-field style="margin-top:10px; width: 100%;">
    <mat-label>Namensvorschlag</mat-label>
    <input matInput placeholder="z.B. Wladimir Putin" [(ngModel)]="this.suggestion">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="this.suggestion" cdkFocusInitial>Abschicken</button>
</div>